
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 253, 248);
}

header{
    border-bottom: dotted 1px black;
    margin: 0 auto 4em auto;
    text-align: center;
}


.solutions-area{
    
}

.card-body{
    text-align:left;
    border:solid 2px black;
    background-color: rgb(255, 233, 197);
    width: 33%;
    padding: .5em;
    border-radius: 11px;
}
.card-body h4 , h6{ 
    font-size: 1.25rem;
    margin: 0 0;
}
.card-body p{
    
    font-size: .9rem;
    
}
