
body{
    padding: 2em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 253, 248);
}

header{
    border-bottom: dotted 1px black;
    margin: 0 auto 4em auto;
    text-align: center;
}


.input-area form{
    margin: 0 auto 3em auto;
    padding: 2em 1em;
    max-width:33%;

}
input, textarea{
    display: flex;
    margin: .25em auto;
    padding: .5em .5em;
}


button{
    display: block;
    margin: 1.25em auto 0 auto;
    border-radius: 7px;
    border:none;
    color: rgb(255, 233, 197);
    background-color: black;
    padding: .5em 1em;
}
button:active{
    transform: translate(3px,2px);
}


/* Solutions Area */
.solutions-area{
    padding: 2em; 
    display: flex;
    gap: 4em;
    flex-wrap: wrap;
}
.card-body, form{
    text-align:left;
    border:solid 2px black;
    background-color: rgb(255, 233, 197);
    width: 33%;
    padding: .5em;
    border-radius: 11px;

    position: relative;
}
.card-body h4 , h6{ 
    font-size: 1.25rem;
    margin: 0 0;
    color:rgb(83, 30, 147)
}
.card-body p{
    font-size: .9rem; 
    margin: .25em auto 1em auto;
}
.card-body p:nth-child(8){
    margin-bottom: 3em;
}

.edit-delete{
    display: flex;
    width: 33%;
    position:absolute;
    bottom: 5px;
}